

.ui-dialog{
		width:400px;
		height: 252px;
		position:absolute;
		top: 100px;
		left: 100px;
		border: 1px solid #d5d5d5;
		background: #fff;
		z-index: 19891018; /* 这里的z-index 设这么大是因为,layer照片照片层弹出时要覆盖 layer */
		display:none;
}

.ui-dialog-title{
		height: 35px;
		line-height: 35px;
		padding-left: 20px;
		color: #000;
		font-size:16px;
		text-align:center;
		cursor:pointer；
}

.ui-dialog-title h1{font-size:16px;}

.ui-dialog-title .cut-off-rule{
		width:350px;height:1px;
		background:#e6e6e6;
		margin:0 auto;
		display:block;
}

.ui-dialog-title-closebutton{
	width:30px;
	height: 35px;
	display: block;
	position: absolute;
	top:-1px;right: -1px;
	color:#cfcfcf;
	font-weight: bold;
}

.ui-dialog-title-closebutton:hover{
	 background: #ff4343;
	 color:#fff;
}

.ui-dialog-content{
		width:100%;
		height: 200px;
		position: relative;
}  

.ui-mask{
		width:100%;
		background:#000;
		opacity: 0.4;
		filter:Alpha(opacity=40);  /* 为兼容低版本IE */
		position: absolute;
		top:0;right:0px;		
		display:none;
		z-index: 19891017; /* 这里的z-index 设这么大是因为,layer照片照片层弹出时要覆盖 layer */
				
}

.link{padding:50px;}
.ui-dialog-form input[type=text]{margin-top:11px;}
.ui-dialog-form input[type=text],
.ui-dialog-form input[type=password]{
	width:210px;height:35px;
	border:2px solid #949494;
	border-radius: 5px;
	background:url(../../images/login/number-bgimg.png) no-repeat;
	padding-left:42px; 
	outline:none;
	margin-bottom:27px;
	margin-left:74px;
}


.ui-dialog-form input[type=text]:hover,
.ui-dialog-form input[type=password]:hover{
	box-shadow:1px 1px 10px #7ed3ee;
	border:2px solid #7ed3ee;
	background:url(../../images/login/number-bgimg_over.png) no-repeat;
}

.ui-dialog-form input[type=text]:focus,
.ui-dialog-form input[type=password]:focus{
	box-shadow:1px 1px 10px #7ed3ee;
	border:2px solid #7ed3ee;
	background:url(../../images/login/number-bgimg_over.png) no-repeat;
}
.ui-dialog-form input[type=password]{ 
	background:url(../../images/login/password-bgimg.png) no-repeat;}

.ui-dialog-form input[type=password]:hover{
	background:url(../../images/login/password-bgimg_over.png) no-repeat;}

.ui-dialog-form input[type=password]:focus{
	background:url(../../images/login/password-bgimg_over.png) no-repeat;}

.ui-dialog-form input[type=checkbox]{
	vertical-align:middle;
	margin-left:80px;
}

.ui-dialog-form label{
	vertical-align:middle;
	font-size:14px;
	position: absolute;
	bottom: 36px;
}

.ui-dialog-form label:hover{	
	border-bottom:1px solid #000;
	position: absolute;
	bottom: 35px;
}

.ui-dialog-form a{
	font-size:14px;color:#7ed3ee;
	margin-left:170px;
}

.ui-dialog-form a:hover{
	text-decoration:underline	
}

.ui-dialog-form input[type=submit]{
	width:168px;height:28px;
	border: 1px solid #2e82cf;
	margin-left:116px;
	margin-top:15px;
	background: #4397e4;
	color:#fff;
	font-size: 16px;
	
}

.ui-dialog-form input[type=submit]:hover{
	background: #4a9fec;
}

/*   注册   */


.ui-dialog-register{
		width:570px;
		height: 360px;
		position:absolute;
		top: 100px;
		left: 100px;
		border: 1px solid #d5d5d5;
		background: #fff;
		z-index: 19891018; /* 这里的z-index 设这么大是因为,layer照片照片层弹出时要覆盖 layer */
		display:none;
		margin: 0 auto;
}



.ui-dialog-register-title{
		height:35px;
		width:570px;
		cursor:pointer;
		line-height: 35px;
		text-align: center;
		color: #000;font-size:18px;
}

.ui-dialog-register-title-closebutton{
	display: block;
	position: absolute;
	top:-1px;right:-1px;
	width:30px;height:35px;
	font-weight: bold;
	
	color:#cfcfcf;
	line-height: 35px;
	text-align: center;
	
}

.ui-dialog-register-title-closebutton:hover{
	background: #ff4343;color:#fff;
}

.ui-dialog-register--title-cut-off-rule{
	width:480px;height: 1px;
	background: #e6e6e6;margin: 0 auto;
}

.ui-dialog-register-content{ margin: 0 auto; }
.ui-dialog-register-form{position:relative;}
.ui-dialog-register-form [type=text]{
	width:240px;height:40px;
	padding-left:10px;
	font-size:14px;
	margin-left:158px;
	margin-top:11px;
	border-radius: 5px;
	border:2px solid #9d9d9d;
	outline:none;
}

.ui-dialog-register-form [type=text]:hover{
	border:2px solid #7ed3ee;
	box-shadow:1px 1px 10px #7ed3ee;
	outline:none;
}

.ui-dialog-register-form [type=text]:focus{
	border:2px solid #7ed3ee;
	box-shadow:1px 1px 10px #7ed3ee;
	outline:none;
}

.ui-dialog-register-form [type=password]{
	width:240px;height:40px;
	padding-left:10px;
	font-size:14px;
	margin-left:158px;
	margin-top:11px;
	border-radius: 5px;
	border:2px solid #9d9d9d;
	outline:none;
}
.ui-dialog-register-form [type=password]:hover{
		border:2px solid #7ed3ee;
		box-shadow:1px 1px 10px #7ed3ee;
		outline:none;
}
.ui-dialog-register-form [type=password]:focus{
		border:2px solid #7ed3ee;
		box-shadow:1px 1px 10px #7ed3ee;
		outline:none;
}

#ui-dialog-register-form-check{
	cursor: pointer;position: absolute;
	vertical-align: middle;
	margin-top:23px;padding-left:3px;
	margin-left:205px;

}
.ui-dialog-register-form-text{
	cursor: pointer;display:inline-block;
	font-size:14px;vertical-align: middle;
	margin-top:20px;
	margin-left: 220px;
}
.ui-dialog-register-form input[type=submit]{
	width:168px;height:28px;
	border:1px solid #e50006;
	margin-top:20px;margin-left:200px;
	background: #e50006;
	color: #fff;font-size:16px;
}
.ui-dialog-register-form input[type=submit]:hover{
	background: #fe4145;
}

.ui-dialog-register-form i{font-size: 14px;}


#userOk{  margin-left:5px;display:none; position: absolute; top:27px; right:130px;}
#pasOk{   margin-left:5px;display:none; position: absolute; top:82px; right:130px;}
#twoPasOk{margin-left:5px;display:none; position: absolute; top:135px; right:130px;}
#emailOk{ margin-left:5px;display:none; position: absolute; top:189px; right:130px;}
#userErrorPrompt{	  position:absolute;margin-top:-33px;margin-left:417px;display:none;}
#userErrorPrompt img{position:absolute;top:3px;}
#userErrorPrompt span{text-indent: 18px;display:block;}

#passFormatError{	  position:absolute;margin-top:-33px;margin-left:417px;display:none;}
#passFormatError img{position:absolute;top:3px;}
#passFormatError span{text-indent: 18px;display:block;}

#passErrorPrompt{	  position:absolute;margin-top:-33px;margin-left:417px;display:none;}
#passErrorPrompt img{position:absolute;top:3px;}
#passErrorPrompt span{text-indent: 18px;display:block;}

#inconsistentPassword{position:absolute;margin-top:-33px;margin-left:417px;display:none;}
#inconsistentPassword img{position:absolute;top:3px;}
#inconsistentPassword span{text-indent: 18px;display:block;}

#trueNameFormatError{ position:absolute;margin-top:-33px;margin-left:417px;display:none;}
#trueNameFormatError img{position:absolute;top:3px;}
#trueNameFormatError span{text-indent: 18px;display:block;}

#trueNameErrorPrompt{ position:absolute;margin-top:-31px;margin-left:417px;display:none;}
#trueNameErrorPrompt img{position:absolute;top:2px;}
#trueNameErrorPrompt span{text-indent: 18px;display:block;}








