@charset "utf-8";
/* CSS Document */

/*    集合的css代码  */

*{
	margin:0;
	padding:0;
	list-style-type:none;
	font-family: "微软雅黑";
	font-style:normal;
	}
img{border:none;}
a{text-decoration:none;}
body{background:#e5e5e5
; 
}