.resoruce-list{
	border:1px solid #d0d0d0; 
	margin:10px auto;padding:15px;
	border-collapse: collapse;
}

.resoruce-list tr th{
	border:1px solid #d0d0d0;
	padding:22px;
	border-collapse: collapse;
}

.resoruce-list tr td{
	border:1px solid #d0d0d0;
	border-collapse: collapse;
	padding:20px 37px 20px 36px; 
	text-align: center;
}