body{position: relative;}
.photo-list li{
	border:2px solid #000;
	float: left;
	list-style: none;
	padding:10px;
	margin-right: 20px;
	margin-bottom: 20px;

}

.photo-list li input[type=checkbox]{
	display: none;
}

.photoBatchBtn{
	display: block;
	position: absolute;
	top: 5px;left:100px;
}


.photoBatchDelCancel{
	display: none;
	position: absolute;
	top: 5px;left:240px;
}

#submit{
	display: none;
	position: absolute;
	top: 5px;left:190px;
}



