body{position: relative;}
.photo-list li{
	border:2px solid #000;
	float: left;
	list-style: none;
	padding:10px;
	margin-right: 20px;
	margin-bottom: 20px;

}

.photo-list li input[type=checkbox]{
	display: none;
}

.photoBatchBtn{
	display: block;
	position: absolute;
	top: 0px;left:180px;
}


.photoBatchDelCancel{
	display: none;
	position: absolute;
	top: 0px;left:410px;
}

#submit{
	display: none;
	position: absolute;
	top: 0px;left:360px;
}

.photoSelectAll{
	position: absolute;
	top: 0;left: 260px;
	display: none;
}
.photoInverseAll{
	position: absolute;
	top: 0;left: 310px;
	display: none;
}



